---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Rémy Frenoy — About me" currentPath="/about/">
  <h2>About me</h2>
  <p>
    I am a software engineer based in Paris. I am
    interested in all topics around data, AI, software development
    and computer science in general.
  </p>

  <section>
    <h2>Latest news</h2>
    <ul>
      <li>
        January 2026: Joined <a href="https://dust.tt">Dust</a> engineering team, working
        on the AI platform that helps companies build and deploy AI agents
        connected to their internal knowledge.
      </li>
      <li>
        October 2022: Joined <a href="https://sorare.com">Sorare</a> as a staff
        engineer, improving the marketplace, fighting fraud and implementing core elements of the game loop (Sorare crafting).
      </li>
      <li>
        Won <a
          href="https://competitions.codalab.org/competitions/30003#learn_the_details"
          >Criteo's Privacy-preserving AI Challenge</a
        >.
      </li>
      <li>
        Presented a <a href="https://github.com/rfrenoy/essec_nlp_course"
          >NLP introduction course</a
        > for the <a href="https://www.essec.edu/en/">ESSEC</a> business school.
      </li>
    </ul>
  </section>
</BaseLayout>
